bin/
obj/
publish/
.vs/
*.user
*.suo
.tooling/
android/.gradle/
android/.idea/
android/.kotlin/
android/**/.cxx/
android/local.properties
android/**/build/
android/dist/
node_modules/
.metro-health-check*
npm-debug.log*
